/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'CloudyWithaChanceofLove';
  src: url("../fonts/cloudy/CloudyWithaChanceofLove.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CloudyWithaChanceofLove';
  src: url("../fonts/cloudy/CloudyWithaChanceofLove.woff") format("woff"), url("../fonts/cloudy/CloudyWithaChanceofLove.ttf") format("truetype"), url("../fonts/cloudy/CloudyWithaChanceofLove.svg#CloudyWithaChanceofLove") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaExtended';
  src: url("../fonts/futura/FuturaExtended.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaExtended';
  src: url("../fonts/futura/FuturaExtended.woff") format("woff"), url("../fonts/futura/FuturaExtended.ttf") format("truetype"), url("../fonts/futura/FuturaExtended.svg#FuturaExtended") format("svg");
  font-weight: normal;
  font-style: normal; }

body, .oyd-logo, h2, .dead-giblet, .button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

body {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  background: url("../img/splatter.svg"), url("../img/splatter.svg"), url("../img/splatter.svg");
  background-size: 1250px auto, 900px auto, 900px auto;
  background-position: center 10px, left -500px bottom -10px, right -500px bottom -10px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-color: #FFDE17;
  font-size: 62.5%;
  text-align: center; }
  @media only screen and (min-width: 568px) {
    body {
      background-size: 1300px auto, 800px auto, 800px auto;
      background-position: left calc(50% - 120px) top 0, left -400px bottom -140px, right -440px bottom -110px; } }
  @media only screen and (min-width: 1200px) {
    body {
      background-size: 1400px auto, 1100px auto, 1100px auto;
      background-position: left calc(50% - 120px) top 20px, left -400px bottom -260px, right -600px bottom -200px; } }

header {
  margin: 20px; }

.oyd-logo {
  width: 160px;
  height: 95px;
  background: url("../img/game_logo.png") center center no-repeat transparent;
  background-size: 160px 95px;
  text-indent: -999999px;
  margin: 0 auto; }
  @media only screen and (min-width: 1200px) {
    .oyd-logo {
      width: 224px;
      height: 135px;
      background-size: 224px 135px; } }

/* NOW AVAILABLE: */
h2 {
  font-family: "CloudyWithaChanceofLove", Helvetica, sans-serif;
  font-size: 3em;
  color: #FFF;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 0px 2px 4px #000;
  margin: 1rem 0; }
  @media only screen and (min-width: 1200px) {
    h2 {
      font-size: 4em; } }

.download {
  margin: 26.66667px 0px; }
  @media only screen and (min-width: 374px) {
    .download {
      margin: 40px 0px; } }
  @media only screen and (min-width: 568px) {
    .download {
      margin: 40px auto;
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      position: relative; } }
  .download .app-icon {
    height: 200px;
    width: 200px;
    display: block;
    border: 4px solid #000;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto 40px auto; }
    @media only screen and (min-width: 568px) {
      .download .app-icon {
        margin: 0 40px; } }
  .download .download-buttons {
    text-align: center; }
    @media only screen and (min-width: 568px) {
      .download .download-buttons {
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto; } }
  .download .button {
    width: 130px;
    padding: 0 10px;
    height: 43px;
    line-height: 43px;
    box-sizing: border-box;
    position: relative; }
    .download .button img {
      width: 100%;
      height: auto;
      vertical-align: middle; }
    .download .button:first-child {
      margin-right: 16.66667px; }
    @media only screen and (min-width: 374px) {
      .download .button {
        width: 146px;
        padding: 0 10px;
        height: 48px;
        line-height: 48px; }
        .download .button:first-child {
          margin-right: 30px; } }
    @media only screen and (min-width: 568px) {
      .download .button {
        width: 200px;
        height: 65px;
        line-height: 65px;
        padding: 0 1rem; }
        .download .button:first-child {
          margin-right: 0;
          margin-bottom: 40px; } }

.button {
  height: 3em;
  line-height: 3em;
  padding: 0 1.6rem;
  background: #000;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6em; }
  .button:hover {
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5); }

.container {
  position: relative;
  background: #000;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 40px 0; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  box-sizing: border-box; }

footer {
  margin: 40px 0 0 0;
  padding: 1.6rem;
  background: #000;
  color: #FFF;
  position: relative; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer a, footer svg path {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  footer .social-links li {
    display: inline;
    margin: 0 6.8px; }
  footer .social-links a {
    color: #FFF; }
    footer .social-links a:hover .youtube #tube path {
      fill: #DF2A26; }
    footer .social-links a:hover .facebook path {
      fill: #3b5998; }
    footer .social-links a:hover .twitter path {
      fill: #1da1f2; }
  footer .social-links svg {
    height: 34px;
    width: auto; }
    footer .social-links svg path {
      fill: #FFF; }
  footer .signal-zero-link {
    font-family: 'FuturaExtended', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 3px;
    line-height: 1.5; }
    footer .signal-zero-link span {
      font-size: 1.5em;
      letter-spacing: 3.5px; }
    footer .signal-zero-link a {
      color: #FFF;
      text-decoration: none; }
      footer .signal-zero-link a > svg {
        width: 27.2px;
        margin-top: 10.2px;
        vertical-align: middle; }
      footer .signal-zero-link a .signal-zero path {
        fill: #FFF; }
      footer .signal-zero-link a:hover {
        color: #FF2600; }
        footer .signal-zero-link a:hover .signal-zero path {
          fill: #FF2600; }
  footer .dead-giblet {
    width: 100px;
    margin: 1rem; }
  @media only screen and (min-width: 568px) {
    footer {
      margin: 40px 0 0 0;
      padding: 1.6rem; }
      footer .dead-giblet {
        height: 55px;
        width: auto;
        margin: 0;
        float: left; }
      footer .social-links {
        float: right; }
        footer .social-links li, footer .social-links a {
          display: inline-block; }
        footer .social-links li {
          margin: 0 5px; }
        footer .social-links a {
          height: 30px;
          line-height: 55px; }
        footer .social-links svg {
          height: 30px;
          width: auto;
          vertical-align: middle; }
      footer .signal-zero-link {
        width: 200px;
        height: 55px;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        display: table; }
        footer .signal-zero-link a {
          position: relative;
          display: table-cell;
          vertical-align: middle; }
          footer .signal-zero-link a > svg {
            position: absolute;
            left: 0px;
            margin-left: 0px;
            top: 50%;
            margin-top: -15px; } }

/*# sourceMappingURL=main.css.map */
