@import "reset";
@import "fonts";
@import "mixins";

$yellow: #FFDE17;
$black: #000;
$white: #FFF;
$pink: #FF6A5E;
$red: #FF2600;
$gray: #575757;
$youtube-color: #DF2A26;
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$text-shadow: 0px 2px 4px $black;
$box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.5);
$margin-unit: 40px;
$border-black: 4px solid $black;

body, .oyd-logo, h2, .dead-giblet, .button  {
		@include transition(all .3s ease);
}
body{
	font-family: $san-francisco-font;
	background: url("../img/splatter.svg"), url("../img/splatter.svg"), url("../img/splatter.svg");
	background-size: 1250px auto, 900px auto, 900px auto;
	background-position: center 10px, left -500px bottom -10px, right -500px bottom -10px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-color: $yellow;
	font-size: 62.5%;
	text-align: center;
	
	@include bp-landscape {
		background-size: 1300px auto, 800px auto, 800px auto;
		background-position: left calc(50% - 120px) top 0, left -400px bottom -140px, right -440px bottom -110px;
	}
	@include bp-large {
		background-size: 1400px auto, 1100px auto, 1100px auto;
		background-position: left calc(50% - 120px) top 20px, left -400px bottom -260px, right -600px bottom -200px;
	}		     
}
header {
	margin: 20px;
}
.oyd-logo {
	$width: 160px;
	$height: 95px;
	width: $width;
	height: $height;
	background: url("../img/game_logo.png") center center no-repeat transparent;
	background-size: $width $height;
	text-indent: -999999px;
	margin: 0 auto;
	
	@include bp-large {
		$width: 224px;
		$height: 135px;
		width: $width;
		height: $height;
		background-size: $width $height;
	}
}
/* NOW AVAILABLE: */
h2 {
	font-family: "CloudyWithaChanceofLove", Helvetica, sans-serif;
	font-size: 3em;
	color: $white;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow:  	2px 2px 0 $black,
				  	2px -2px 0 $black,
				  	-2px 2px 0 $black,
				  	-2px -2px 0 $black,
				  	$text-shadow;
	margin: 1rem 0;	
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	
	@include bp-large {
		font-size: 4em;
	}		     
}
.download {
	margin: $margin-unit/1.5 0px;
	
	@include bp-portrait-6 {
		margin: $margin-unit 0px;
	}
	
	@include bp-landscape {
		margin: $margin-unit auto;
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;
		position: relative;
	}	
	.app-icon {
		$size: 200px;
		height: $size;
		width: $size;
		display: block;
		border: $border-black;
		@include border-radius($size / 4);
		box-shadow: $box-shadow;
		margin: 0 auto $margin-unit auto;
		
		@include bp-landscape {
			margin: 0 $margin-unit;
		}
	}
	.download-buttons {
		text-align: center;
		
		@include bp-landscape {
			margin: 0 $margin-unit;
			display: flex;
			flex-direction: column;
			justify-content: center;	
			height: auto;
		}
	}
	.button {
		$height: 43px;
		width: 130px;
		padding: 0 10px;
		height: $height;
		line-height: $height;
		box-sizing: border-box;
		position: relative;
		img {
			width: 100%;
			height: auto;
			vertical-align: middle;
		}
		&:first-child {
			margin-right: $margin-unit/1.5 - 10px;
		}
		@include bp-portrait-6 {
			$height: 48px;
			width: 146px;
			padding: 0 10px;
			height: $height;
			line-height: $height;
			&:first-child {
				margin-right: $margin-unit - 10px;
			}
		}
		@include bp-landscape {
			$height: 65px;		
			width: 200px;
			height: $height;
			line-height: $height;
			padding: 0 1rem;
			&:first-child {
				margin-right: 0;
				margin-bottom: $margin-unit;
			}
		}
	}
}
.button {
	$height: 3em;
	height: $height;
	line-height: $height;
	padding: 0 1.6rem;
	background: $black;
	@include border-radius($height / 6);
	box-shadow: $box-shadow;
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.6em;
	&:hover {
		box-shadow: 0px 2px 10px 2px rgba(10,10,10,0.7);
	}
}

// Youtube video
.container {
    position: relative;
    background: $black;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    box-shadow: $box-shadow;
    margin: $margin-unit 0;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: $border-black;
    box-sizing: border-box;
}


// Footer
footer {
	$padding-unit: 2rem;
	$icon-size: 34px;
	margin: $margin-unit 0 0 0;
	padding: 1.6rem;
	background: $black;
	color: $white;
	position: relative;
	@include clearfix;
	a, svg path,  {
		@include transition(all .3s ease);
	}	
	.social-links {
		li {
			display: inline;
			margin: 0 $icon-size / 5;
		}
		a {
			color: $white;
			&:hover {
				.youtube {
					#tube path {
						fill: $youtube-color;
					}
				}
				.facebook {
					path {
						fill: $facebook-color;
					}
				}
				.twitter {
					path {
						fill: $twitter-color;
					}
				}
			}
		}
		svg {
			height: $icon-size;
			width: auto;
			path {
				fill: $white;
			}
		}
	}
	.signal-zero-link {
		font-family: 'FuturaExtended', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 3px;
		line-height: 1.5;
		span {
			font-size: 1.5em;
			letter-spacing: 3.5px;
		}
		a {
			color: $white;
			text-decoration: none;
			 > svg {
				 
				 width: $icon-size * 0.8;
				 margin-top: $icon-size * 0.3;
				 vertical-align: middle;
			 }
			.signal-zero path {
				fill: $white;
			}
			&:hover {
				color: $red;
				.signal-zero path {
					fill: $red;
				}
			}
		}
	}
	.dead-giblet {
		width: 100px;
		margin: 1rem;
		animation-duration: 1s;
	}

	@include bp-landscape {
		$height: 55px;
		$padding-unit: 1.6rem;
		$icon-size: 30px;
		margin: $margin-unit 0 0 0;
		padding: $padding-unit;
		.dead-giblet {
			height: $height;
			width: auto;
			margin: 0;
			float: left;
		}
		.social-links {
			float: right;
			
			li, a {
				display: inline-block;
			}
			li {
				margin: 0 $icon-size / 6;
			}
			a {
				height: $icon-size;
				line-height: $height;
			}
			svg {
				height: $icon-size;
				width: auto;
				vertical-align: middle;
			}
		}
		.signal-zero-link {
			$width: 200px;
			width: $width;
			height: $height;
			position: absolute;
			left: 50%;
			margin-left: - ($width / 2);
			display: table;
			a {
				position: relative;
				display: table-cell;
				vertical-align: middle;
				 > svg {
					 position: absolute;
					 left: 0px;
					 margin-left: 0px;
					 top: 50%;
					 margin-top: -($icon-size / 2);
				 }
			}
		}
	}	
}

.hidden {
	opacity: 0;
}
.visible {
	opacity: 1;
}