@import "reset";
@import "fonts";
@import "mixins";

$yellow: #FFDE17;
$black: #000;
$white: #FFF;
$gray: #575757;
$text-shadow: 0px 2px 4px $black;
$box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.5);
$margin-unit: 40px;

body{
	font-family: $san-francisco-font;
	background: url("../img/splatter.svg"), url("../img/splatter.svg"), url("../img/splatter.svg");
	background-size: 1250px auto, 900px auto, 900px auto;
	background-position: center 10px, left -500px bottom -10px, right -500px bottom -10px;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-color: $yellow;
	font-size: 62.5%;
	text-align: center;
}
header {
	margin: 20px;
}
.oyd-logo {
	$width: 160px;
	$height: 95px;
	width: $width;
	height: $height;
	background: url("../img/game_logo.png") center center no-repeat transparent;
	background-size: $width $height;
	text-indent: -999999px;
	margin: 0 auto;
}
/* NOW AVAILABLE: */
h2 {
	font-family: "CloudyWithaChanceofLove", Helvetica, sans-serif;
	font-size: 3em;
	color: $white;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow:  	2px 2px 0 $black,
				  	2px -2px 0 $black,
				  	-2px 2px 0 $black,
				  	-2px -2px 0 $black,
				  	$text-shadow;
	margin: 1rem 0;			     
}
.download {
	margin: $margin-unit 0px;

	.app-icon {
		$size: 200px;
		height: $size;
		width: $size;
		display: block;
		border: 4px solid $black;
		@include border-radius($size / 4);
		box-shadow: $box-shadow;
		margin: 0 auto $margin-unit auto;
	}
	.download-buttons {
		text-align: center;
	}
	.button {
		$height: 48px;
		width: 146px;
		padding: 0 10px;
		height: $height;
		line-height: $height;
		box-sizing: border-box;
		position: relative;
		img {
			width: 100%;
			height: auto;
			vertical-align: middle;
		}
		&:first-child {
			margin-right: $margin-unit - 10px;
		}
	}	
}
.button {
	$height: 3em;
	height: $height;
	line-height: $height;
	padding: 0 1.6rem;
	background: $black;
	@include border-radius($height / 6);
	box-shadow: $box-shadow;
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.6em;
}

// Youtube video
.container {
    position: relative;
    background: $black;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    box-shadow: $box-shadow;
    margin: $margin-unit 0;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid $black;
    box-sizing: border-box;
}


footer {
	$padding-unit: 2rem;
	margin: $margin-unit 0 0 0;
	padding: 1.6rem;
	background: $black;
	color: $white;
	.dead-giblet {
		width: 100px;
		margin: 1rem;
	}
}

$icon-size: 34px;
.social-links {
	li {
		display: inline;
		margin: 0 $icon-size / 5;
	}
	a {
		color: $white;
	}
	img {
		height: $icon-size;
		width: auto;
	}
}
.signal-zero-link {
	font-family: 'FuturaExtended', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 3px;
	line-height: 1.5;
	span {
		font-size: 1.5em;
		letter-spacing: 3.5px;
	}
	a {
		color: $white;
		text-decoration: none;
		
		 > img {
			 width: $icon-size * 0.8;
			 margin-top: $icon-size * 0.3;
			 vertical-align: middle;
		 }
	}
}

@media screen and (min-width: 568px) {
	body{
		background-size: 1300px auto, 900px auto, 900px auto;
		background-position: left calc(50% - 120px) top 0, left -500px bottom -10px, right -500px bottom -10px;
	}
	.download {
		margin: $margin-unit auto;
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;
		position: relative;
	
		.app-icon {
			margin: 0 $margin-unit;
		}
		.download-buttons {
			margin: 0 $margin-unit;
			display: flex;
			flex-direction: column;
			justify-content: center;	
			height: auto;
		}
		.button {	
			$height: 65px;		
			width: 200px;
			height: $height;
			line-height: $height;
			padding: 0 15px;
			&:first-child {
				margin-right: 0;
				margin-bottom: $margin-unit;
			}
		}
		
	}
}